<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs', {page: 'Countries'}) %>
<body class="has-navbar-fixed-top has-background-black-ter">
    <%- include ('./partials/nav.ejs') %>
    <section class="hero has-background-primary-dark has-text-centered">
        <div class="hero-body">
            <p class="title has-text-black-bis">Countries</p>
        </div>
    </section>
    <main class="container">
        <div class="columns is-multiline is-centered">
            <% for (let i = 0; i < countries.length; i++) { %>
                <% let country = countries[i]; %>
                <div class="column is-three-quarters">
                    <article class="card has-background-grey-dark">
                        <div class="level">
                            <div class="level-left">
                                <div class="card-image">
                                    <figure class="image img-card-figure media-left">
                                        <a href="/countries/<%= i %>">
                                            <img src="<%= country.flagImg %>" class="flag-list-img" alt="Flag of <%= country.name %>">
                                        </a>
                                    </figure>
                                    <div class="field is-grouped is-grouped-centered">
                                        <div class="control">
                                            <a class="button is-info" href="/countries/<%= i %>">Show Info Page</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <h2><a href="/countries/<%= i %>" class="has-text-link-light"><%= country.name %></a></h2>
                                        <h5 class="has-text-light">Population: &nbsp;<%= country.population %></h5>
                                        <h5 class="has-text-light">Demonym: &nbsp;<%= country.demonym %></h5>
                                        <h5 class="has-text-light">Capital: &nbsp;<%= country.capital %></h5>
                                        <h5 class="has-text-light">Largest City: &nbsp;<%= country.largestCity %></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            <% } %>
            <div class="column is-three-quarters">
                <div class="field is-grouped is-grouped-centered">
                    <div class="control form-buttons">
                        <a class="button is-info" href="/countries/new">Add New Country</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>