<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs', {page: 'Country Info'}) %>
<body class="has-navbar-fixed-top has-background-black-ter">
    <%- include ('./partials/nav.ejs') %>
    <section class="hero has-background-primary-dark has-text-centered">
        <div class="hero-body">
            <p class="title has-text-black-bis">Country Info: </p>
            <h4 class="title is-4 has-text-black-bis"><%= country.name %></h4>
        </div>
    </section>
    <main class="container extra-padding-bottom">
        <div class="columns is-multiline is-centered">
            <div class="column is-three-quarters">
                <article class="card has-background-grey-dark">
                    <div class="level">
                        <div class="level-left">
                            <div class="card-image">
                                <figure class="image img-card-figure media-left">
                                    <img src="<%= country.flagImg %>" class="flag-show-img" alt="Flag of <%= country.name %>">
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <h2 class="has-text-light"><%= country.name %></h2>
                                    <h5 class="has-text-light">Population: &nbsp;<%= country.population %></h5>
                                    <h5 class="has-text-light">Demonym: &nbsp;<%= country.demonym %></h5>
                                    <h5 class="has-text-light">Capital: &nbsp;<%= country.capital %></h5>
                                    <h5 class="has-text-light">Largest City: &nbsp;<%= country.largestCity %></h5>
                                    <div class="control form-buttons">
                                        <a class="button is-info" href="/countries/<%= index %>/edit">Update Country Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <br>
                <div class="field is-grouped is-grouped-centered">
                    <div class="control form-buttons">
                        <a class="button is-primary has-background-primary-dark" href="/countries">Back to List of Countries</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>